body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('/assets/Background_map.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  gap: 10px;
}

.navbar a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: #555;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #777;
}

.navbar a img {
  display: block;
  height: 40px;
  width: auto;
}

.tracking-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tracking-input {
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.tracking-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tracking-button:hover {
  background-color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.center-page {
  flex: 1;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  padding: 40px 20px;
  text-align: center;
}

.info-box {
  max-width: 600px;
}